{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
.button {
    background-color: #394867;
    border: none;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
}
.container{
    background-color:#f1f6f9;
    border-radius:75px;
    border-style:solid;
    border-color:#14274e;
    padding:35px;
    width:50%;
}
.judul{
    color:#394867;
    text-align:center;
}
.containerForm{
    margin-top: 45px;
}
.form-row{
    text-align:left;
    color:#394867;
}
.ukForm{
    width: 450px;
}
.form-control{
    border-radius: 25px;
    border-color:#394867;
}
.formselect{
    border-radius: 10px;
    border-color:#394867;
    width: 150px;
}
.textForm{
    border-radius: 10px;
    border-color:#394867;
}

@media only screen and (max-width: 1080px){
    .container {
        width : 55%;
    }
    .ukForm{
        width: 400px;
    }
    h1.judul {
        font-size: 35px;
    }
}

@media only screen and (max-width: 860px){
    .container {
        width : 60%;
    }
    .ukForm{
        width: 350px;
    }
    h1.judul {
        font-size: 35px;
    }
}

@media only screen and (max-width: 720px){
    .container {
        width : 65%;
    }
    .ukForm{
        width: 300px;
    }
    h1.judul {
        font-size: 35px;
    }
}

@media only screen and (max-width: 620px){
    .container {
        width : 70%;
    }
    .ukForm{
        width: 250px;
    }
    h1.judul {
        font-size: 30px;
    }
}

@media only screen and (max-width: 415px){
    .container {
        width : 78%;
    }
    .ukForm{
        width: 200px;
    }
    h1.judul {
        font-size: 27px;
    }
    .button {
        padding: 12px 37px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 315px){
    .container {
        width : 80%;
    }
    .ukForm{
        width: 170px;
    }
    h1.judul {
        font-size: 22px;
    }
}

@media only screen and (max-width: 250px){
    .container {
        width : 100%;
    }
    .ukForm{
        width: 140px;
    }
    h1.judul {
        font-size: 18px;
    }
    .formselect{
        width: 120px;
    }
    .button {
        padding: 10px 34px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 170px){
    .container {
        width : 100%;
    }
    .ukForm{
        width: 120px;
    }
    h1.judul {
        font-size: 16px;
    }
    .formselect{
        width: 100px;
    }
    .button {
        padding: 10px 32px;
        font-size: 13px;
    }
}

</style>
{% endblock meta %}

{% block content %}
    <br></br>
    <div class="container">
        <h1 class="judul" style="font-family: 'Open Sans', sans-serif;">FORMULIR</h1>
        <div class="d-flex justify-content-center containerForm">
            <div id="form" class="form-row">
                <div class="col-auto">
                    <div class="form-group ukForm" style="font-family: 'Oxygen', sans-serif;">
                        <form action="" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <label for="{{ form.Nama_Lengkap.id_for_label }}" class="label">Nama Lengkap:</label>
                            {{ form.Nama_Lengkap }}
                        </div>
                        <br>
                        <div class="field">
                            <label for="{{ form.Usia.id_for_label }}" class="label">Usia:</label>
                            {{ form.Usia }}
                        </div>
                        <br>
                        <div class="field">
                            <label for="{{ form.No_Telp.id_for_label }}" class="label">No. Telp:</label>
                            {{ form.No_Telp }}
                        </div>
                        <br>
                        <div class="field">
                            <label for="{{ form.Jenis_Kelamin.id_for_label }}" class="label">Jenis Kelamin:</label>
                            {{ form.Jenis_Kelamin }}
                        </div>
                        <br>
                        <div class="field">
                            <label for="{{ form.Alamat.id_for_label }}" class="label">Alamat:</label>
                            {{ form.Alamat }}
                        </div>
                        <br>
                        <div class="field">
                            <label for="{{ form.Nama_Test.id_for_label }}" class="label">Nama test:</label>
                            {{ form.Nama_Test }}
                        </div>
                        <br>
                        <div class="field">
                            <label for="{{ form.Lokasi_Test.id_for_label }}" class="label">Lokasi test:</label>
                            {{ form.Lokasi_Test }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <input id="btn" class="button active" type="submit" value='Daftar'>
    </div>
</div>

<script>
    {% if messages %}
        {% comment %} {% for message in messages %} {% endcomment %}
            $(document).ready(function(){
                alert("Form is invalid");
            });
        {% comment %} {% endfor %} {% endcomment %}
    {% else %}
        {% comment %} $(document).ready(function(){ {% endcomment %}
            $("#form").on("submit", function (e) {
                e.preventDefault();
                var serialized = $(this).serialize();
                console.log("create post is working!")
                $.ajax({
                    dataType: 'json',
                    type: 'POST',
                    url:"{% url 'Formulir:Data' %}",
                    data: {
                        serialized,
                        'csrfmiddlewaretoken' : $("input["name=csrfmiddlewaretoken"]").val()
                    }
                    success: function (pesan) {
                        // clear form
                        if (pesan.message === 'success') {
                            alert('Event has been successfully added!');
                            $('form').trigger("reset");
                        }
                    },
                });
            });
        {% comment %} }); {% endcomment %}

        function getCookie(c_name){
            if (document.cookie.length > 0){
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1){
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
        }

        $(function () {
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });
        });

    {% endif %}
</script>
{% endblock %}
