{% extends 'base.html' %}
{% load static %}

{% block meta %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .judul{
            color:#394867;
            text-align:center;
        }
        .containerForm{
            font-size: 15px;
        }
    }

    @media only screen and (max-width: 500px){
        h1.judul {
            font-size: 27px;
        }
        .containerForm{
            font-size: 13px;
        }
    </style>
{% endblock meta %}
{% block content %}
    <br></br>
    <div class="container">
        <h1 class="judul" style="font-family: 'Open Sans', sans-serif;">DAFTAR SELURUH PESERTA TEST</h1>
        <br>
        <div class="container">
            <div class="input">
                <input id="search" class="form-control" placeholder="Search here..">
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center containerForm">
            
            {% comment %} <div>
                <table class="table">
                    <tbody id="results">
                    </tbody>
                </table>
            </div> {% endcomment %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Nama Lengkap</th>
                            <th scope="col">Usia</th>
                            <th scope="col">No. Telp</th>
                            <th scope="col">Jenis Kelamin</th>
                            <th scope="col">Alamat</th>
                            <th scope="col">Nama Test</th>
                            <th scope="col">Lokasi Test</th>
                        </tr>
                    </thead>
                    <tbody id="results">
                    </tbody>
                    <tbody>
                        {% for i in listForm %}
                        <tr>
                            <th scope="row">{{i.id}}</th>
                            <td>{{i.Nama_Lengkap}}</td>
                            <td>{{i.Usia}}</td>
                            <td>{{i.No_Telp}}</td>
                            {% if i.Jenis_Kelamin == 'Laki-laki' %}
                                <td>L</td>
                            {% else %}
                                <td>P</td>
                            {% endif %}
                            <td>{{i.Alamat}}</td>
                            <td>{{i.Nama_Test}}</td>
                            <td>{{i.Lokasi_Test}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#search").keyup(function(){

                var srch = $("#search").val();
                console.log(srch);
                ajaxsearch(srch);
            });
        });

        function ajaxsearch(search){
            $.ajax({
                url: "/Form/cariForm/?q=" + search,
                data:{
                    'q' : search,
                    'csrfmiddlewaretoken' : $("input["name=csrfmiddlewaretoken"]").val()
                },
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    var arrayData = data;
                    $("#results").empty()
                    for (i = 0; i < arrayData.length; i++){
                        var index = arrayData.id[i].id;
                        var Nama_Lengkap = index.Nama_Lengkap;
                        var Usia = index.Usia;
                        var No_Telp = index.No_Telp;
                        var Jenis_Kelamin = index.Jenis_Kelamin;
                        var Alamat = index.Alamat;
                        var Nama_Test = index.Nama_Test;
                        var Lokasi_Test = index.Lokasi_Test;
                        if (Jenis_Kelamin == 'Laki-Laki'){
                            results.innerHTML += "<tr><th scope="row">" + index + "</th><td>" + Nama_Lengkap + "</td><td>" + Usia + "</td><td>" + No_Telp + "</td><td>L</td><td>" + Alamat + "</td><td>" + Nama_Test + "</td><td>" + Lokasi_Test + "</td></tr>"
                        }
                        else{
                            results.innerHTML += "<tr><th scope="row">" + index + "</th><td>" + Nama_Lengkap + "</td><td>" + Usia + "</td><td>" + No_Telp + "</td><td>P</td><td>" + Alamat + "</td><td>" + Nama_Test + "</td><td>" + Lokasi_Test + "</td></tr>"
                        }
                    }
                },
                type: 'GET'
            });
        }
    {% endblock content %}
